.wraper {
    border-top: 4px solid #a98f68;
}

.header {
    width: 940px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 257px;
    margin: 10px;
}

.header_centr {
    width: 537px;
}

.title {
    padding-top: 12px;
    text-align: center;
    color: #a98f68;
    font-size: 17px;
    font-family: Roboto-Thin;
    text-transform: uppercase;
}

.telefon {
    color: #000;
    font-size: 14px;
    font-family: Roboto-Thin;
    padding-bottom: 10px;
}

.telefon span {
    font-size: 18px;
}

.telefon img {
    vertical-align: middle;
}

.btn_back_coll {
    font-size: 13px;
    font-family: Roboto-Regular;
    height: 30px;
    width: 175px;
    margin: 0 auto;
    background: #2b3a42;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
}

.gar {
    float: right;
    margin: 10px;
}
/**************************************************************/

.header2 {
    width: 100%;
    height: 480px;
    background: url(../img/bg1.png) no-repeat center top;
}

.header2_conteiner {
    width: 832px;
    height: 480px;
    margin: 0 auto;
    color: #fff;
}

.header2_left {
    width: 515px;
}

.header2_left h3 {
    padding-top: 76px;
    font-size: 72px;
    font-family: RobotoCondensed-Light;
    text-transform: uppercase;
    text-align: left;
}

.header2_left h4 {
    padding-top: 12px;
    font-size: 36px;
    font-family: RobotoCondensed-Light;
    text-transform: uppercase;
    text-align: left;
}

.header2_left h5 {
    padding-top: 10px;
    font-size: 36px;
    font-family: Roboto-Thin;
    text-align: left;
}

.btn_acija {
    margin-top: 40px;
    width: 240px;
    height: 40px;
    background: #a98f68;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font: 16px Arial, sans-serif;
    text-transform: uppercase;
    line-height: 40px;
}

.header2_right {
    width: 10px;
    height: 10px;
    border: 3px solid #595643;
    border-radius: 5px;
}
/**************************************************************/

.perevagi_text {
    padding-top: 60px;
    text-align: center;
    color: #000;
    font-family: Roboto-Thin;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.perevagi_text span {
    font-family: Roboto-Regular;
}

.perevagi {
    width: 100%;
    height: 480px;
    background: url(../img/per.png) no-repeat center top;
    border-bottom: 8px solid #2b3a42;
    padding-bottom: 20px;
}
/********************************************/

.lodc-vesla {
    background: url(../img/bg2.png) no-repeat center top;
}

.lodci-ecran {
    height: 873px;
    width: 100%;
    border-bottom: 7px solid #a98f68;
}

.cards {
    width: 970px;
    height: 616px;
    margin: 0 auto;
    border: 3px solid #595643;
}

.card {
    width: 295px;
    height: 100%;
    float: left;
    background: #f8f8f8;
}

.otstup {
    width: 42px;
    height: 100%;
    float: left;
}

.model {
    padding-top: 10px;
    text-align: center;
    color: #000;
    font-family: Roboto-Light;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;
}

.model span {
    font-family: Roboto-Bold;
}

.opis {
    text-align: center;
    color: #000;
    font-family: Roboto-Light;
    font-size: 14px;
    margin: 20px;
}

.new-price {
    text-align: center;
    color: #a98f68;
    font-family: Roboto-Bold;
    font-size: 24px;
}

.old-price {
    padding-top: 10px;
    text-align: center;
    color: #2b3a42;
    font-family: Roboto-Thin;
    font-size: 16px;
    text-decoration: line-through;
    padding-bottom: 10px;
}

.btn_kup {
    font-size: 18px;
    font-family: Roboto-Regular;
    height: 38px;
    width: 217px;
    margin: 0 auto;
    background: #2b3a42;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
}

.primitka {
    padding-top: 10px;
    font-size: 18px;
    font-family: RobotoCondensed-LightItalic;
    color: #2b3a42;
    text-align: center;
}
/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/

.perevagi2 {
    height: 565px;
    width: 100%;
}

.perevaga {
    width: 740px;
    height: 330px;
    margin: 0 auto;
}

.perevaga_left {
    float: left;
    width: 400px;
}

.perevaga_Right {
    float: right;
}

.per_one {
    height: 55px;
    margin-bottom: 30px;
}

.img {
    height: 55px;
    width: 55px;
    background: #2b3a42;
    border-radius: 50%;
    float: left;
}

.img img {
    padding-top: 20px;
    display: block;
    margin: 0 auto;
}

.per {
    width: 260px;
    font-size: 16px;
    font-family: Roboto-Light;
    color: #a98f68;
    float: left;
    line-height: 55px;
    padding-left: 25px;
}
/********************************************/
/*************otziv***************************/

.otziv {
    height: 480px;
    width: 100%;
    background: url(../img/bg3.png) no-repeat center top;
}

.otziv_text {
    padding-top: 50px;
    text-align: center;
    color: #fff;
    font-family: Roboto-Thin;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 60px;
}
 
.otziv_text span {
    
    font-family: Roboto-Medium;
}

.block_otziv {
    height: 180px;
    width: 940px;
    margin: 0 auto;
}

.otz_photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: left;
    border: 6px solid #5d6568;
    margin-right: 15px;
}

.otz_photo img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.otz_text {
    height: 150px;
    width: 940px;
    font-size: 16px;
    font-family: Roboto-Light;
    color: #fff;
    line-height: 25px;
    /*
   letter-spacing: 1px;
*/
}

.otz_text span {
    float: right;
    font-family: Roboto-Medium;
}

#b_o_2{
    display: none;
      
}

#b_o_3{
    display: none;
     
}

.radiobutton {
width: 80px;
margin: 0 auto;

}

/********************************************/
/*************robota***************************/

.robota {
    /*************  height: 450px; ***************************/
    height: 500px;
    width:  100%;
   
}

.oll_robota{
    height: 220px;
    width: 890px;
    margin: 0 auto;
  
}

.one_robota{
    height: 220px;
    width: 188px;
    float: left;
     
}

.one_robota_img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    border: 7px solid #a98f68;
     
   margin-left: 35px;

 margin-bottom:  30px;
}

.one_robota_img img {
      padding-top: 30px;
    display: block;
    margin: 0 auto;
}
.one_robota_title{

    width: 170px;
    font-size: 16px;     
    font-family: Roboto-Medium;
    color: #2b3a42; 
    text-align: center;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.one_robota_text{
    width: 170px;
    font-size: 16px;     
    font-family: Roboto-Light;
    color: #a98f68;
    text-align: center; 

}
/********************************************/

/*************galereja***************************/

.galereja {
    height: 640px;
    width:  100%;
    background: url(../img/bg4.png) no-repeat center top;
}


.galereja_photo  {      
     height: 400px;
     width: 800px;
     margin: 0 auto;     
}

#gal_one_img2{display: none;}
#gal_one_img3{display: none;}
#gal_one_img4{display: none;}
#gal_one_img5{display: none;}


 .radiobutton_2 {
width: 130px;
margin: 0 auto;

}


.seo_text{
height: 400px;
width: 940px; 
margin: 0 auto;
    font-size: 16px;
    font-family: Roboto-Light;
    color: #000;

    padding-top: 20px;
    line-height: 24px;
}

/********* map*************/
.map{
    height: 315px;
    width: 100%;
     background: url(../img/map.png) no-repeat center top;
 }

 .map_teext { 
margin-left: 190px;
width: 485px;
height: 314px;
background: #2b3a42;
opacity: 0.9;
 }

.map_title {    
     text-align: center;
    color: #FFF;
    font-family: Roboto-Thin;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 60px;
}
.map_title span {    font-family: Roboto-Regular;}

.map_adress {
    text-align: center;
    font-size: 16px;
    font-family: Roboto-Light;
    color: #fff;
}
   