.wraper {
    border-top: 4px solid #a98f68;
}

.header {
    width: 940px;
    height: 113px;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 257px;
    margin: 10px;
}

.header_centr {
    width: 537px;
}

.title {
    padding-top: 12px;
    text-align: center;
    color: #a98f68;
    font-size: 17px;
    font-family: Roboto-Thin;
    text-transform: uppercase;
}

.telefon {
    color: #000;
    font-size: 14px;
    font-family: Roboto-Thin;
    padding-bottom: 10px;
}

.telefon span {
    font-size: 18px;
}

.telefon img {
    vertical-align: middle;
}

.btn_back_coll {
    font-size: 13px;
    font-family: Roboto-Regular;
    height: 30px;
    width: 175px;
    margin: 0 auto;
    background: #2b3a42;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
}

.btn_back_coll:hover {
    background: #a98f68;
    cursor: pointer;
}

.gar {
    float: right;
    margin: 10px;
}
/**************************************************************/

.header2 {
    width: 100%;
    height: 480px;
    background: url(../img/bg1.jpg) no-repeat center top;
    clear: both;
}

.header2_conteiner {
    width: 840px;
    height: 480px;
    margin: 0 auto;
    color: #fff;
}

.header2_left {
    width: 400px;
    float: left;
}

.header2_left h3 {
    padding-top: 76px;
    font-size: 72px;
    font-family: RobotoCondensed-Light;
    text-transform: uppercase;
    text-align: left;
}

.header2_left h4 {
    padding-top: 12px;
    font-size: 36px;
    font-family: RobotoCondensed-Light;
    text-transform: uppercase;
    text-align: left;
}

.header2_left h5 {
    padding-top: 10px;
    font-size: 36px;
    font-family: Roboto-Thin;
    text-align: left;
}

.btn_acija {
    margin-top: 40px;
    width: 340px;
    height: 40px;
    background: #a98f68;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    font: 16px Arial, sans-serif;
    text-transform: uppercase;
    line-height: 40px;
}

.btn_acija:hover {
    background: #595643;
    cursor: pointer;
}

.header2_right {
    float: right;
}

.bloc_akcija {
    margin-top: 265px;
    border: 3px solid #595643;
    width: 340px;
    height: 120px;
    border-radius: 10px;
    font-size: 16px;
    font-family: Roboto-Regular;
    text-align: center;
    text-transform: uppercase;
}

.bloc_akcija {
    line-height: 40px;
}

.timer {
    float: left;
    font-size: 40px;
    padding: 0 18px;
}

.podpis {
    float: left;
    font-size: 9px;
    font-family: Roboto-Black;
    padding: 0 20px;
    color: #a98f68;
}
/**************************************************************/

.perevagi_text {
    padding-top: 60px;
    text-align: center;
    color: #000;
    font-family: Roboto-Thin;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.perevagi_text span {
    font-family: Roboto-Regular;
}

.perevagi {
    width: 100%;
    height: 480px;
    background: url(../img/per.png) no-repeat center top;
    border-bottom: 8px solid #2b3a42;
    padding-bottom: 20px;
}
/********************************************/

.lodc-vesla {
    background: url(../img/bg2.jpg) no-repeat center top;
}

.lodci-ecran {
    height: 873px;
    width: 100%;
    border-bottom: 7px solid #a98f68;
}

.lodc-kilson {
    background: url(../img/bg99.jpg) no-repeat center top;
}

.cards {
    width: 970px;
    height: 616px;
    margin: 0 auto;
}

.card {
    width: 295px;
    height: 100%;
    float: left;
    background: #f8f8f8;
}

.otstup {
    width: 42px;
    height: 100%;
    float: left;
}

.model {
    padding-top: 10px;
    text-align: center;
    color: #000;
    font-family: Roboto-Light;
    font-size: 20px;
    text-transform: uppercase;
    margin: 20px;
}

.model span {
    font-family: Roboto-Bold;
}

.opis {
    text-align: center;
    color: #000;
    font-family: Roboto-Light;
    font-size: 14px;
    margin: 20px;
}

.new-price {
    text-align: center;
    color: #a98f68;
    font-family: Roboto-Bold;
    font-size: 24px;
}

.old-price {
    padding-top: 10px;
    text-align: center;
    color: #2b3a42;
    font-family: Roboto-Thin;
    font-size: 16px;
    text-decoration: line-through;
    padding-bottom: 10px;
}

.btn_kup {
    font-size: 18px;
    font-family: Roboto-Regular;
    height: 38px;
    width: 217px;
    margin: 0 auto;
    background: #2b3a42;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 30px;
}

.btn_kup:hover {
    background: #a98f68;
    cursor: pointer;
}

.primitka {
    padding-top: 10px;
    font-size: 18px;
    font-family: RobotoCondensed-LightItalic;
    color: #2b3a42;
    text-align: center;
}
/********************************************/
/********************************************/
/********************************************/
/********************************************/
/********************************************/

.perevagi2 {
    height: 580px;
    width: 100%;
}

.perevaga {
    width: 740px;
    height: 330px;
    margin: 0 auto;
}

.perevaga_left {
    float: left;
    width: 400px;
}

.perevaga_Right {
    float: right;
}

.per_one {
    height: 55px;
    margin-bottom: 30px;
}

.img {
    height: 55px;
    width: 55px;
    background: #2b3a42;
    border-radius: 50%;
    float: left;
}

.img img {
    padding-top: 15px;
    display: block;
    margin: 0 auto;
}

.per {
    width: 260px;
    font-size: 16px;
    font-family: Roboto-Light;
    color: #a98f68;
    float: left;
    line-height: 55px;
    padding-left: 25px;
}
/********************************************/
/*************otziv***************************/

.otziv {
    height: 480px;
    width: 100%;
    background: url(../img/bg3.jpg) no-repeat center top;
}

.otziv_text {
    padding-top: 50px;
    text-align: center;
    color: #fff;
    font-family: Roboto-Thin;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.otziv_text span {
    font-family: Roboto-Medium;
}

.block_otziv {
    height: 180px;
    width: 940px;
    margin: 0 auto;
}

.otz_photo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    float: left;
    border: 6px solid #5d6568;
    margin-right: 15px;
}

.otz_photo img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.otz_text {
    height: 150px;
    width: 940px;
    font-size: 16px;
    font-family: Roboto-Light;
    color: #fff;
    line-height: 25px;
    /*
   letter-spacing: 1px;
*/
}

.otz_text span {
    float: right;
    font-family: Roboto-Medium;
}

#b_o_2 {
    display: none;
}

#b_o_3 {
    display: none;
}

.radiobutton {
    width: 80px;
    margin: 0 auto;
}
/********************************************/
/*************robota***************************/

.robota {
    /*************  height: 450px; ***************************/
    
    height: 500px;
    width: 100%;
}

.oll_robota {
    height: 220px;
    width: 890px;
    margin: 0 auto;
}

.one_robota {
    height: 220px;
    width: 188px;
    float: left;
}

.one_robota_img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
    border: 7px solid #a98f68;
    margin-left: 35px;
    margin-bottom: 30px;
}

.one_robota_img img {
    padding-top: 30px;
    display: block;
    margin: 0 auto;
}

.one_robota_title {
    width: 170px;
    font-size: 16px;
    font-family: Roboto-Medium;
    color: #2b3a42;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.one_robota_text {
    width: 170px;
    font-size: 16px;
    font-family: Roboto-Light;
    color: #a98f68;
    text-align: center;
}
/********************************************/
/*************galereja***************************/

.galereja {
    height: 640px;
    width: 100%;
    background: url(../img/bg4.jpg) no-repeat center top;
}

.galereja_photo {
    height: 400px;
    width: 700px;
    margin: 0 auto;
}

#gal_one_img2 {
    display: none;
}

#gal_one_img3 {
    display: none;
}

#gal_one_img4 {
    display: none;
}

#gal_one_img5 {
    display: none;
}

.radiobutton_2 {
    width: 130px;
    margin: 0 auto;
}

.seo_text {
    height: 360px;
    width: 940px;
    margin: 0 auto;
    font-size: 16px;
    font-family: Roboto-Light;
    color: #000;
    padding-top: 25px;
    line-height: 24px;
}
/********* map*************/

.map {
    height: 315px;
    width: 100%;
    background: url(../img/map.jpg) no-repeat center top;
}

.map_teext {
    margin-left: 190px;
    width: 485px;
    height: 316px;
    background: #2b3a42;
    opacity: 0.9;
}

.map_title {
    text-align: center;
    color: #FFF;
    font-family: Roboto-Thin;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 60px;
}

.map_title span {
    font-family: Roboto-Regular;
}

.map_adress {
    text-align: center;
    font-size: 16px;
    font-family: Roboto-Light;
    color: #fff;
}
/*********   ost_ekran   *************/

.ost_ekran {
    height: 480px;
    width: 100%;
    background: url(../img/bg5.jpg) no-repeat center top;
}

.blok1 {
    height: 230px;
    width: 840px;
    margin: 0 auto;
}

.blok1_left {
    width: 550px;
    color: #fff;
    font-size: 30px;
    font-family: Roboto-Thin;
    text-transform: uppercase;
}

.blok1_left span {
    font-size: 48px;
    font-family: Roboto-Light;
}

.teleffon {
    color: #fff;
    font-size: 18px;
    font-family: Roboto-Thin;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

.teleffon span {
    font-size: 24px;
}

.teleffon img {
    vertical-align: middle;
}

.btn_back_coll_le {
    font-size: 16px;
    font-family: Roboto-Regular;
    height: 40;
    width: 240px;
    margin: 0 auto;
    background: #a98f68;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    line-height: 40px;
}

.btn_back_coll_le:hover {
    background: #5d6568;
    cursor: pointer;
}
/*********   down_load   *************/

.down_load {
    height: 76px;
    width: 100%;
    background: #907b59;
}

.bloc_center_dl {
    height: 76px;
    text-align: center;
    padding-top: 16px;
    color: #2b3a42;
    font-size: 24px;
    font-family: Roboto-Light;
    text-transform: uppercase;
}

.bloc_center_dl img {
    vertical-align: middle;
    margin: 0 20px;
}

.bloc_center_dl:hover {
    background: #fff;
    cursor: pointer;
}
/*********   footer   *************/

.footer {
    height: 76px;
    width: 100%;
    background: #2b3a42;
    color: #fff;
    font-size: 16px;
    font-family: Roboto-Thin;
    text-align: center;
    line-height: 76px;
}
/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/**********All styles popup**********/

.popup {
    padding: 5px 15px 15px;
    position: fixed;
    top: 100px;
    left: 50%;
    display: none;
    overflow: hidden;
    border: 5px solid rgba(31, 43, 46, 0.9);
    background: #fff;
    z-index: 100;
}

.popup h2 {
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-family: Roboto-Medium;
    color: #b19976;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    width: 270px;
    margin-left: 20px;
}

.popup a.close {
    width: 32px;
    height: 32px;
    display: block;
    text-indent: -9999px;
    position: absolute;
    top: 13px;
    right: 10px;
    background: url(../img/close.png) no-repeat;
}
/**********popup coll_back**********/

.coll_back,
.coll_back2,
.coll_back3 {
    margin-left: -175px;
    width: 350px;
    height: 230px;
}

.coll_back input[type=text],
.coll_back2 input[type=text],
.coll_back3 input[type=text] {
    margin-bottom: 10px;
    margin-left: 50px;
    padding: 0 3px;
    width: 216px;
    height: 36px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.coll_back input[type=submit],
.coll_back2 input[type=submit],
.coll_back3 input[type=submit] {
    width: 216px;
    height: 36px;
    margin-left: 50px;
    margin-top: 20px;
    color: #fff;
    font-size: 18px;
    font-family: Roboto-Regular;
    background: #2b3a42;
    border-radius: 5px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.coll_back input[type=submit]:hover,
.coll_back2 input[type=submit]:hover,
.coll_back3 input[type=submit]:hover {
    color: red;
}
/**********popup detali_lodoc**********/

.detali_lodoc {
    margin-left: -390px;
    width: 780px;
    height: 590px;
    top: 10px;
}
/**********overlay styles**********/

#overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    background: #000;
    opacity: .8;
}
/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/

.detali_lodoc h6 {
    color: #2b3a42;
    font-size: 16px;
    font-family: Roboto-Bold;
    text-align: center;
    text-transform: uppercase;
}

.coll_back3_options {
    margin-left: 10px;
}

.detali_lodoc_left {
    float: left;
}

.detali_lodoc_left img {
    margin: 10px;
    border: 1px solid #000;
}

.detali_lodoc_right {
    float: left;
}

 .ifr{
        font-size: 16px;
    font-family: Roboto-Thin;
 }